.parent {
  display: flex;
  height: 300px; /* Or whatever */
  border: 1px solid red;
}

.child {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
  border: 1px solid blue;
}

.flex-container {
  border: 1px solid green;
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}

section {
  display: flex;
  align-items: center;
  justify-content: row;
}

/* section aside {
  flex: 1;
}

section article {
  flex: 1;
} */
